<div class= "create-list-link">
  <%= link_to 'Create a new list', new_list_path %>
</div>

<div class="flex-container">
  <% @lists.each do |list| %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://picsum.photos/200/300?random=1" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= list.name %></h5>
        <h5 class="inside"><%= list.bookmarks.count %> Movie(s)</h5>
        <%= link_to 'See inside list', list_path(list.id) %>
      </div>
    </div>
  <% end %>
</div>
