// Import page-specific CSS files here.
@import "home";

.create-list-link {
    display: flex;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.flex-container {
  display: flex;
  background-color: gray;
}


.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 16px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonpurple {
  font-size: 18px;
  text-decoration: none;
  font-family: 'Righteous', sans-serif;
  background-color: rgb(180, 180, 180);
  color: black;
  border: 2px solid #525252ef;
  border-radius: 5px;
}

.buttonpurple:hover {
  text-decoration: none;
  background-color: #fa91b4;
  color: rgb(139, 6, 117);
}


//Indes Page Card with Hover//

.card-container {
  padding: 46px;
  min-width: 0;
  margin: auto;
  display: flex;
  flex-shrink: inherit;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  background-color: rgb(131, 16, 207);
  width: 80vw;
  height: 100%;
}

@media (max-width: 700px) {
  .card-container {
    flex-direction: column;
  }
}



.card-list {
  // positional //
  background-color: rgb(206, 136, 7);
  padding: 20px;
  margin: 10px;
  display: grid;
  height: auto;
  width: 460px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;

  // style //
  border-radius: 8px;
}

.card-list:hover  {
  background-color: khaki;
}

.image-container {
  display: flex;
  justify-content: center;
}
