.list-title-container {
  height: 300px;
  width: 100vw;
  background-image: url("black_background.png");
  background-position: left;
  position: relative;

  h1 {
    font-family: 'Fredericka the Great', sans-serif;
  }
  p {
    font-family: 'Fredericka the Great', sans-serif;
  }
}

.card-text {
  color: white;
  position: absolute;
  left: 506px;
  bottom: 97px;
  .button-array {
    margin-top: 26px;
  }
}
