


// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";

.banner {
  height: 600px;
  background-image: url("cinema_background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right top;
  padding: 200px 0;

   h1 {
     font-family: 'Righteous', sans-serif;
      margin-left: 36px;
      font-size: 86px;
      color: white;
      text-shadow: 8px 8px 16px rgba(248, 10, 10, 0.945);
   }

   p {
     margin-left: 36px;
     font-size: 26px;
     line-height: 36px;
     color: white;
     text-shadow: 2px 2px 10px slategrey;
   }

}

.container {
  width: 1036px;
  margin-top: 46px;
  margin-left: 0px;
  background: rgba(68, 67, 67, 0.7);
  padding: 20px;
}
